<div class="pull-right">
  <%= link_to("添加新工作", new_admin_job_path, :class => "btn btn-default" ) %>
</div>
<br><br>

<table class="table table--boldered">
  <% @job.each do |job| %>
  <tr>
    <td>
      <%= link_to(job.title, admin_jobs_path(job))%>
    </td>
    <td>
      <%= link_to("编辑",edit_admin_job_path(job)) %>
      <%= link_to("删除", admin_jobs_path(job), :method => :delete, :data => { :confirm => "你确定吗？" }) %>

    </td>
    <td>
      <%= job.created_at %>
    </td>

  </tr>
  <% end %>
</table>
